{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    <h1>Create New Page</h1>
    <form action="{% url 'new' %}" method="post">
        {% csrf_token %}
        <label>Title:</label><br />
        <input type="text" name="title" required><br /><br />

        <label>Markdown Content:</label><br />
        <textarea name="content" rows="10" cols="80" required></textarea><br /><br />

        <input type="submit" value="Create Page">
    </form>
{% endblock %}